* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Raleway", sans-serif;
  }
  
  :root {
    --bleu: #6ec1e4;
    --orange: #f7812e;
    --h1size: 60px;
    --h2size: 19px;
    --h3size: 17px;
    --semi-bold: 600;
    --psize: 18px;
  }

  #un {
    height: 90px;
    position: relative;
  }

  #un > h1 {
    color: black;
    font-size: 60px;
    font-family: "Lilita One", cursive;
    text-align: center;
  }
  

  #un > p {
    position: absolute;
    font-size: var(--psize);
    text-align: center;
    width: 40%;
    left: 50%;
    top: 7em;
  }

  .img{
    width: 450px;
    height: 400px;
    position: absolute;
    left: 50em;
    top: 15em;
  }

  span {
    background-image: url(../img/Ellipse\ 5.svg);
    background-size: cover;
    position: absolute;
    top: 25%;
    right: 0;
    width: 90px;
    height: 330px;
  } 

footer{
    margin-top: 100vh;
}