* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Raleway", sans-serif;
  }
  
  :root {
    --bleu: #6ec1e4;
    --orange: #f7812e;
    --h1size: 40px;
    --h2size: 29px;
    --h3size: 25px;
    --bold: 700;
    --semi-bold: 600;
    --psize: 18px;
  }
  
  header > nav {
    z-index: 10;
    background: var(--orange);
    position: fixed;
    height: 30px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  
  a {
    font-weight: var(--semi-bold);
    color: white;
  }
  
  nav > #logo > img {
    width: 120px;
  }
  
  nav > ul {
    display: flex;
  }
  
  nav > ul > li {
    display: flex;
    margin: 0 20px;
    padding-top: 15px;
  }
  
  nav > ul > li:nth-child(6) {
    display: block;
    width: 130px;
    height: 45px;
    background: var(--bleu);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  
  .burger {
    display: none;
  }
  
  main {
    max-width: 100%;
    min-height: 100vh;
    padding-top: 6em;
  }
  span {
    background-image: url(../img/Ellipse\ 5.svg);
    background-size: cover;
    position: absolute;
    margin-top: 55px;
    top: 10%;
    right: 0;
    width: 60px;
    height: 130px;
  }
  
  #span2 {
    background-image: url(../img/Ellipse\ 5.svg);
    background-size: cover;
    position: absolute;
    margin-top: 55px;
    top: 130%;
    right: 0;
    width: 60px;
    height: 130px;
  }
  
  #smiley1 {
    display: block;
    background-image: url(../img/Happy\ Cloud.svg);
    background-size: cover;
    position: absolute;
    left: 400px;
    top: 200px;
    bottom: 500px;
    height: 80px;
    width: 80px;
  }
  
  p {
    padding: 40px;
    margin: 20px;
    justify-content: center;
    text-align: center;
  }
  
  h3 {
    text-align: center;
    font-size: var(--h3size);
    font-family: "Lilita One", cursive;
  }
  
  h1 {
    font-size: var(--h1size);
    font-family: "Lilita One", cursive;
    text-align: center;
  }
  
  em {
    float: left;
    padding: 30px;
    text-align: center;
    justify-content: center;
  }
  
  footer > a > img {
    position: absolute;
    top: 60px;
    left: 60px;
    width: 200px;
  }
  
  form {
    display: block;
    width: 50%;
    margin: 25%;
    border: 2px solid black;
    min-height: 40vh;
    padding: 30px;
    background: var(--orange);
    border-radius: 10px;
    color: white;
    font-size: 20px;
  }
  
  form > h2 {
    text-align: center;
    padding-bottom: 1em;
  }
  
  input {
    padding: 10px;
    height: 50px;
    width: 100%;
    outline: none;
    border: 1px solid black;
    margin: 10px;
  }
  
  button {
    background: white;
    width: 50%;
    margin-left: 25%;
    height: 30px;
  }
  
  footer > a > img {
    position: absolute;
    top: 60px;
    left: 60px;
    width: 200px;
  }
  
  footer {
    position: relative;
    padding: 10px;
    display: flex;
    width: 100%;
    background: var(--orange);
    margin-top: 3rem;
  }
  
  footer > ul {
    margin-top: 150px;
    justify-content: space-between;
    margin-left: 13%;
    width: 30%;
    height: 100%;
  }
  
  footer > ul > li {
    padding: 10px;
    width: 100%;
  }
  
  @media screen and (max-width: 768px) {
    nav > ul > li:nth-child(6) {
      display: none;
    }
    nav > ul > li {
      display: none;
    }
  
    .burger {
      width: 30px;
      z-index: 3;
      display: inline-block;
    }
  }
  
  @media screen and (max-width: 767px) and (orientation: Portrait) {
    .burger {
      width: 30px;
      z-index: 3;
      display: inline-block;
    }
  
    form {
      display: block;
      min-width: 305px;
      border: 2px solid black;
      min-height: 40vh;
      padding: 30px;
      background: var(--orange);
      border-radius: 10px;
      color: white;
      font-size: 20px;
      margin: 0px;
  }
  
    form > h2 {
      text-align: center;
      padding-bottom: 1rem;
      font-size: var(--psize);
    }
  
    input {
      padding: 10px;
      height: 25px;
      width: 90%;
      outline: none;
      border: 1px solid black;
      margin: 10px;
    }
  
    button {
      background: white;
      width: 50%;
      margin-left: 25%;
      height: 30px;
    }
  }
  
  @media screen and (max-width: 1440px) and (min-width: 1025px) {
  
  
  }
  