* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Raleway", sans-serif;
  max-width: 100%;
}

:root {
  --bleu: #6ec1e4;
  --orange: #f7812e;
  --h1size: 40px;
  --h2size: 23px;
  --h3size: 20px;
  --semi-bold: 600;
  --psize: 18px;
}

.nav {
  z-index: 10;
  background: var(--orange);
  position: fixed;
  height: 5em;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.nav a {
  color: white;
  font-size: var(--psize);
  font-weight: var(--semi-bold);
  align-items: center;
  margin: 10px;
  padding-top: 15px;

}

.nav ul a:last-child {
  display: block;
  width: 130px;
  height: 35px;
  background: var(--bleu);
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
  text-align: center;
}


.nav> img {
  width: 170px;
}

ul {
  display: flex;
}

